#* Java interface-related macros. 
   This file is loaded by com.cyc.library.mapi.templates.InterfaceTemplate.
*#


##  interface_methods  ---------------------------------------------

#macro( interface_methods $methods )
#foreach( $method in $methods )
#method_javadoc( $method )
  #method_signature( $method );
#if( $foreach.hasNext )

#end
#end
#end
