;; -*- Mode: Lisp -*-   ;; Emacs mode line
;;
;; Example CLSQL test configuration file
;; Since this file is read by Lisp, it is okay to use
;; comments in this file
;; This file should be named .clsql-test.config and
;; placed in your home directory
 
(
(:mysql ("localhost" "temp" "root" "secret"))
(:sqlite3 ("path-to-libs/clsql-4.0.3/examples/temp")))
