;; -*- Mode: Lisp -*-   ;; Emacs mode line
;;
;; Example CLSQL test configuration file
;; Since this file is read by Lisp, it is okay to use
;; comments in this file
;; This file should be named .clsql-test.config and
;; placed in your home directory
 
((:mysql ("localhost" "a-mysql-db" "user1" "secret"))
 (:aodbc ("my-dsn" "a-user" "pass"))
 (:postgresql ("localhost" "another-db" "user2" "dont-tell"))
 (:postgresql-socket ("pg-server" "a-db-name" "user" "secret-password"))
 (:sqlite ("path-to-sqlite-db")))

