*.snap
*.vtg
*~
/phase04-sublisp/build/eclipse-classes/
*.class
/.metadata/.plugins/org.eclipse.pde.core/Eclipse Application/
/.metadata/.plugins/org.eclipse.pde.core/Eclipse Application/org.eclipse.osgi/
/.metadata/.plugins/it.unibz.instasearch/searchindex/
/.recommenders/
/.sonarlint/
./bin-eclipse
./build
./target
/runtime-extra/
/platform/units/
/platform/data/
/platform/httpd/
/platform/transcripts/
/platform/webapps/
/jrtl-cl/
/larkc-code/
/runtime/

powerloom-4.0.9.beta/
rcyc/
*.jar
*~
*~/
ansi-tests/compile-file-test-lp.lsp
ansi-tests/file-that-was-renamed.txt
ansi-tests/foo.fasl
ansi-tests/foo.lsp
ansi-tests/foo.txt
ansi-tests/foo.ufsl
ansi-tests/ldtest.lsp
ansi-tests/scratch/
ansi-tests/temp.dat
ansi-tests/tmp2.dat
ansi-tests/tmp.dat
ansi-tests/tmp.dat.bak
ansi-tests/tmp.txt
*.bak
build
build/
*.class
*.d
data/
*.exe
*.fas
*.fasl
FILE-THAT-WAS-RENAMED.TXT
# following are all symlinks
# gc 7.2alpha2
gc/threadlibs
*.la
*.lib
lib/
*.lo
*.lock
*.log
*.lx64fsl
*.rar
*.zip
.metadata/.plugins/org.eclipse.jdt.core/*.index
.metadata/.plugins/*/*.state
.metadata/.plugins/*/*/*.tree
mpfr/autom4te.cache/
mpir/yasm/ytasm
*.o
scg-repro*
scg-repro*/
*.snap
status
tags
*.tar.gz
*.tmp
*.trace
units/
version
*.vtg
xcl
*.xcl
xcl_home.h
xcl.nm
AWTRemoteApplet.html
JDemoApplet.html
LarKC_CommonLisp_Extensions.vpwhist
SVN/
abcl-saved/
ansi-test/
cl-bench/
cl-test-grid/
cusp/
easye/
ste-bench/
uabcl/
/bin/
