platform/License.txt
#platform/bin/
platform/build/
platform/dist/
# platform/data/
platform/go-cyc.bat
#platform/httpd/
platform/lib/ant-1.6.5.jar
platform/lib/cyc.jar
platform/lib/subl.jar
platform/src-bak/
platform/target/
*/build/classes/
*/dist/
*/bin-eclipse/
#platform/units/
#platform/webapps/
#platform/transcripts/
researchcyc-4.0q/
*.snap
*.vtg
*.class
/.metadata/.plugins/org.eclipse.pde.core/Eclipse Application/
/.metadata/.plugins/org.eclipse.pde.core/Eclipse Application/org.eclipse.osgi/
/.metadata/.plugins/it.unibz.instasearch/searchindex/
/.recommenders/
/.sonarlint/
/runtime-extra/
/jrtl-cl/
/larkc-code/
/runtime/
powerloom-4.0.9.beta/
rcyc/
*~
~*
*~/
ansi-tests/compile-file-test-lp.lsp
ansi-tests/file-that-was-renamed.txt
ansi-tests/foo.fasl
ansi-tests/foo.lsp
ansi-tests/foo.txt
ansi-tests/foo.ufsl
ansi-tests/ldtest.lsp
ansi-tests/scratch/
ansi-tests/temp.dat
ansi-tests/tmp2.dat
ansi-tests/tmp.dat
ansi-tests/tmp.dat.bak
ansi-tests/tmp.txt
*.bak
*.exe
*.fas
*.fasl
FILE-THAT-WAS-RENAMED.TXT
# following are all symlinks
# gc 7.2alpha2
gc/threadlibs
*.la
*.lib
*.lo
*.lock
*.log
*.lx64fsl
#*.rar
#*.zip
.metadata/.plugins/org.eclipse.jdt.core/*.index
.metadata/.plugins/*/*.state
.metadata/.plugins/*/*/*.tree
mpfr/autom4te.cache/
mpir/yasm/ytasm
#*.o
scg-repro*
scg-repro*/
*.tmp
*.trace
version
xcl
*.xcl
xcl_home.h
xcl.nm
LarKC_CommonLisp_Extensions.vpwhist
SVN/
abcl-saved/
ansi-test/
#cl-bench/
cl-test-grid/
cusp/
easye/
ste-bench/
uabcl/
/.metadata/
/platform-*/
/2p-trunk/
/External Prolog Files/
/RemoteSystemsTempFiles/
/Resources/
/SxxMachine/
/SxxMachineWorks/
/jiprolog/
/narchy/
/narchyTuProlog/
/noJRTL/
/opencyc-4.0/
/prologpluscg-code/
/tuprolog.git/
/platform/e2c/sumo2loom/
/platform/e2c/cycl/
/platform/httpd/htdocs/cycdoc/app/
/platform/e2c/XP/*.*
/platform/units/*/
/platform/Desktop/opencyc-server-jsrc/com/cyc/cycjava/cycl/module*
/platform/unused/
/platform/httpd/htdocs/*/
/platform/data/
/platform/e2c/myfrdcsa/
/platform/transcripts/5022/i74930k*.ts
/platform/transcripts/5022/gitlab*.ts
/platform/webapps/*/
/platform/StartMUD.sh
/platform/units/*/
/platform/transcripts/*/
/astyleclipse-code-r42-branches/
/pack/
/swipl-pack/
/runtime-EclipseApplication/
/screamer-intro.html
/webODE/
/powerloom-4.0.10/

CarBuilder.zip
FairyTales/
        LarKC platform/
OntoPDDL/
/SWeDE*
/lojix/
/platform/System.out
/platform/main/lm-main/
/platform/site-lisp/3t-frdcsa/
/~HIDE~/

/platform/site-lisp/shrdlu/srczzzz/*
/platform/site-lisp/slime-ugh
/platform/site-lisp/shrdlu/src/*._li
/platform/SxxMachine.LarkC
/platform/build.xml-new
/platform/build.xml-old
/platform/org.appdapter.bundle.core-1.1.6-SNAPSHOT-src.zip
/platform/site-lisp/3t
/platformNB/platform/nbproject/private/
/platform/nbproject/private/
/platformNB/platform/build/