build
dist
abcl
/bin-eclipse/
/Debug/
/CVS/
/.svn/
/.compiled/
/lib/*.dll
/IKVM*
/ikvm*
/ICSharpCode.SharpZipLib.dll
/JVM.DLL
/bin/modern/
/lib/ALL/
/site-lisp/backup
/.apt_generated/
/.apt_generated_tests/
